/*Classes and ids style a specific element in a CSS page (that element specifically, not
all elements of that type). To reference and style a class, use a . followed by the name*/
.title {
    color: red;
}

.subtitle {
    color: blue;
}

/*To reference an id, use a hash*/
#contact-us {
    color: green;
}

/*
SPECIFICITY IN CSS
Specificity is a concept referring to the face that if one element is styled multiple
times, the prevailing style (that will show on screen) is the one that is the most specific.
The order for specificity is headers, class selectors, id selectors, and inline styling.
*/

/*PSEUDOCLASSES or PSEUDOSELECTORS
Deals with interactivity; any time a design needs to change based on a way that the user
interacts with it. You use the name of the element followed by a colon and the action*/
h2:hover {
    color: red;
}

/*When selecting an element from a list of children, you use the child as the element name
instead of the parent (ex: the first child of an unordered list is li:first-child, not ul:first-child)*/
li:first-child {
    color: steelblue;
}

/*This can also be done with nth-child, which does as it says*/
li:nth-child(2) {
    color:aqua;
}

/*Only works if the element is an only child*/
li:only-child {
    color: purple;
}

/*The link refers to a link before it is clicked, and visited is a link after it is visited*/
#google-link:link {
    color: blue;
}


#google-link:visited {
    color: red;
}

/*all pseudoselectors or pseudoclasses https://www.w3schools.com/css/css_pseudo_classes.asp*/


/*ADVANCED SELECTORS*/

/*This means "every a tag that follows an h2"; it will style that element no matter the class*/
h2 + a {
    color : red;
}

/*This means every "button follows by a text area in the same parent"; it will style that element 
only if in the same class*/
textarea ~ button {
    color:purple;
}

/*This means every "li inside of a ul"; note that the li must be a direct child of the ul*/
ul > li {
    color: blue;
}

/*Any li that goes up to (propogates up to) a ul; the li does not need to be a direct child of the ul*/
ul li {
    color: green;
}

/*ATTRIBUTE SELECTORS*/

/*Attribute selectors allow you to select certain elements based on their attribtues*/
/*The format is:    element[attribute=value]   */
/*The carrot (^=) selects everything in which the attribute STARTS with the desired value*/
img[src^="Other Files"] {
    border: 30px solid black;
}

/*The dollar sign ($=) selects everything in which the attribute ENDS with the desired value*/
img[src$="house.jpg"] {
    border: 20px solid black;
}

/*Self explanitory*/
img[src="Other Files/mountains.jpg"] {
    border: 10px solid black;
}

/*Whitespace property; by adding a space in a class, the two (or more) names are treated as 
separate classes applied to the same element; it is selected via this format
element_name[selector~=name]*/
h2[class~=article-subtitle] {
    background: forestgreen
}

/*PROPERTIES*/
/*All properties use a colon and a semicolon. Before the colon is the property (what is going 
to change, and before the semicolon is the value)*/
#services {
    color: green; /*<--- this is the property part*/
    /*Note you can put multiple properties*/
}

/*COLORS*/
#title {
    color: rgb(186, 133, 9);
}

/*Note that the body contains all other tags and text, so body can be used for background*/
body {
    background: rgb(204, 229, 255);
}

/*BACKGROUNDS*/
/*This code is not run because it is incomplete*/
/*
body {
    background: url("https://images.unsplash.com/photo-1562043236-559c3b65a6e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGFuZHNjYXBlc3xlbnwwfHwwfHw%3D&w=1000&q=80")
}
*/
/*Note that the image will repeat the image over rather than resizing it to fit the page*/
/*The url can also be a file directory*/

/*"example_background" is an empty div that I am using to demonstrate backgrounds*/
#example-background {
    height: 400px;
    width: 70%;

    background: url("https://images.unsplash.com/photo-1562043236-559c3b65a6e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8bGFuZHNjYXBlc3xlbnwwfHwwfHw%3D&w=1000&q=80");
    background-repeat: no-repeat ;
    /*^^^ will leave the image as it's original size; IT WILL NOT RESIZE TO FIT, ONLY DISABLE THE REPEAT*/
    background-size: 400px 70%;
    /*^^^ Will resize to whatever value you input, but often will not match the height and width of the div exactly */
    background-size: contain;
    /*^^^ Will resize to fit the dimensions, but will not change the proportions of the image*/
    background-size: cover;
    /*^^^ Will resize to fit the dimensions (WILL NOT change proportions, it CUTS OFF the image).*/
}

/*For changing transparency, use an rgba value (rgb and alpha). Example below*/
rgba(256, 256, 256, 0.4);
